.titulo{
    font-size: 40px;
}
.contenedorToDoList{
    margin: 20px auto;
    padding: 10px;
    height: 90vh;
}

.contenedorLista{
    background-color: #fff;
    max-height: 250px;
    overflow-y: auto;
}

.listItem{
    background-color: aqua;
    border: 1px solid #000;
}